<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/main.css" />
    <title>Python Projects</title>
  </head>
  <body>
    <div class="navbar">
      <!-- Navbar logo -->
      <div class="nav-header">
        <div class="nav-logo">
          <a href="#"> Ian Pritchard </a>
        </div>
      </div>

      <!-- responsive navbar toggle button -->
      <input type="checkbox" id="nav-check" />
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <!-- Navbar items -->
      <div class="nav-links">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('nonsense')}}">Nonsense</a>
        <a href="{{url_for('geekout')}}">Geek Out</a>
        <!--        <a href="{{url_for('signup')}}">Sign Up</a>-->
        <a href="{{url_for('login')}}">Sign In / Sign Up</a>
      </div>
    </div>

    {% block content %} {% endblock %}
    <p></p>
    <div class="footer">
      Built by <a href="http://www.ianpritchard.com">Ian Pritchard.</a>
    </div>
  </body>
</html>
