<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_869389702291417ba5edeb5045358eab {
                    position: relative;
                    width: 1000.0px;
                    height: 650.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_869389702291417ba5edeb5045358eab" ></div>
        
</body>
<script>    
    
            var map_869389702291417ba5edeb5045358eab = L.map(
                "map_869389702291417ba5edeb5045358eab",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5a6bc65c616a4942b46e0ee4185c4176 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_869389702291417ba5edeb5045358eab);
        
    
            var feature_group_8bfff7cc59624e7f92c36060a4df928b = L.featureGroup(
                {}
            ).addTo(map_869389702291417ba5edeb5045358eab);
        
    
            var marker_69fead02c6cb40b7b1fd412f547ca9e3 = L.marker(
                [49.8292108, -2.4984536],
                {}
            ).addTo(feature_group_8bfff7cc59624e7f92c36060a4df928b);
        
    
            var icon_be07d0011c89482fb492bd0d85a0898f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_69fead02c6cb40b7b1fd412f547ca9e3.setIcon(icon_be07d0011c89482fb492bd0d85a0898f);
        
    
        var popup_fd91117dd83b47dbb1ac980a55725feb = L.popup({"maxWidth": "100%"});

        
            var html_4593ab7b07434c2090f3d53bf652f609 = $(`<div id="html_4593ab7b07434c2090f3d53bf652f609" style="width: 100.0%; height: 100.0%;"><strong>You found me!</strong> <br> <br>Glen Miller disappears</br></br> Press the 'back' button to return</div>`)[0];
            popup_fd91117dd83b47dbb1ac980a55725feb.setContent(html_4593ab7b07434c2090f3d53bf652f609);
        

        marker_69fead02c6cb40b7b1fd412f547ca9e3.bindPopup(popup_fd91117dd83b47dbb1ac980a55725feb)
        ;

        
    
    
            var marker_b8962d25dc7f4f33a3cf5d5ad40d035f = L.marker(
                [-43.0, 24.0],
                {}
            ).addTo(feature_group_8bfff7cc59624e7f92c36060a4df928b);
        
    
            var icon_4d0155e3437f402da03a4035fdb122a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_b8962d25dc7f4f33a3cf5d5ad40d035f.setIcon(icon_4d0155e3437f402da03a4035fdb122a9);
        
    
        var popup_d9a4026624d34a59b702b4a706fc00ce = L.popup({"maxWidth": "100%"});

        
            var html_177f2326582f41ab831defa742eb708e = $(`<div id="html_177f2326582f41ab831defa742eb708e" style="width: 100.0%; height: 100.0%;"><strong>Try again.</strong></div>`)[0];
            popup_d9a4026624d34a59b702b4a706fc00ce.setContent(html_177f2326582f41ab831defa742eb708e);
        

        marker_b8962d25dc7f4f33a3cf5d5ad40d035f.bindPopup(popup_d9a4026624d34a59b702b4a706fc00ce)
        ;

        
    
    
            var marker_8e605c2f6de34fe7a81c2e49094cdbe2 = L.marker(
                [-7.0, -33.0],
                {}
            ).addTo(feature_group_8bfff7cc59624e7f92c36060a4df928b);
        
    
            var icon_ea31b3d47bbb48d7a624fa24f14a0f9e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_8e605c2f6de34fe7a81c2e49094cdbe2.setIcon(icon_ea31b3d47bbb48d7a624fa24f14a0f9e);
        
    
        var popup_a1b1fc9275aa4ef6979d8dad95db4de8 = L.popup({"maxWidth": "100%"});

        
            var html_8fcf9d90e59b41a2bf09afdec304f7e5 = $(`<div id="html_8fcf9d90e59b41a2bf09afdec304f7e5" style="width: 100.0%; height: 100.0%;"><strong>Try again.</strong></div>`)[0];
            popup_a1b1fc9275aa4ef6979d8dad95db4de8.setContent(html_8fcf9d90e59b41a2bf09afdec304f7e5);
        

        marker_8e605c2f6de34fe7a81c2e49094cdbe2.bindPopup(popup_a1b1fc9275aa4ef6979d8dad95db4de8)
        ;

        
    
    
            var marker_c424f176464e4640b7a63a2efc816039 = L.marker(
                [-7.0, -54.0],
                {}
            ).addTo(feature_group_8bfff7cc59624e7f92c36060a4df928b);
        
    
            var icon_7bb2a5170ce94b2a8441fbbf48ea8f31 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_c424f176464e4640b7a63a2efc816039.setIcon(icon_7bb2a5170ce94b2a8441fbbf48ea8f31);
        
    
        var popup_a82783e6551a4f138b5835fc24075fec = L.popup({"maxWidth": "100%"});

        
            var html_e87aba24ff3744a184fece260ceff066 = $(`<div id="html_e87aba24ff3744a184fece260ceff066" style="width: 100.0%; height: 100.0%;"><strong>Try again.</strong></div>`)[0];
            popup_a82783e6551a4f138b5835fc24075fec.setContent(html_e87aba24ff3744a184fece260ceff066);
        

        marker_c424f176464e4640b7a63a2efc816039.bindPopup(popup_a82783e6551a4f138b5835fc24075fec)
        ;

        
    
    
            var feature_group_0505df8eb7064e4bb180e859f78a4a50 = L.featureGroup(
                {}
            ).addTo(map_869389702291417ba5edeb5045358eab);
        
    
            var layer_control_40210d57faf64518aa94c91482426ccd = {
                base_layers : {
                    "stamenterrain" : tile_layer_5a6bc65c616a4942b46e0ee4185c4176,
                },
                overlays :  {
                    "Where On Earth?" : feature_group_8bfff7cc59624e7f92c36060a4df928b,
                    "Borders" : feature_group_0505df8eb7064e4bb180e859f78a4a50,
                },
            };
            L.control.layers(
                layer_control_40210d57faf64518aa94c91482426ccd.base_layers,
                layer_control_40210d57faf64518aa94c91482426ccd.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_869389702291417ba5edeb5045358eab);
        
</script>