{% extends 'base.html' %} {% block content %}
<h2>Login</h2>
<p>This is a fake login screen to try out a log in screen function.</p>
<p>
  I just take the UserName you put in and use it to greet you on the next page.
</p>
<p>If you hit submit with a blank username I show you signed in as Guest.</p>
<p>
  I totally ignore the passphrase. I will build this out in a future sprint.
</p>
<div class="container">
  <form class="form">
    <div class="signInUpBox">
      <button class="submit submit-narrow submit-ghost" disabled>
        Sign In
      </button>
      <button class="submit submit-narrow"> <a href="{{url_for('signup')}}">
        Sign Up
      </a></button>
    </div>
    <form class="form" action="{{url_for('thankyou')}}">
    <div class="form-control">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder="Enter Username"
        name="username"
      />
    </div>
    <div class="form-control">
      <label for="passphrase">Pass Phrase</label>
      <input
        type="password"
        id="passphrase"
        placeholder="Enter Pass Phrase"
        name="passphrase"
      />
    </div>
    <button class="submit">Submit</button>
  </form>
</div>
{% endblock %}
